@{
    ViewData["Title"] = "Domača stran";
}

<div class="text-center">
    <h2 class="display-4 naslovnica">Dobrodošli</h2>
</div>

<div class="card-columns row row-cols-4 row-cols-md-4 row-cols-sm-2 g-4">
    
</div>